@page "/countries"
<h3>@Localizer["Countries"]</h3>
<div class="mb-3">
    <a class="btn btn-primary" href="countries/new">@Localizer["New"] @Localizer["Country"]</a>
</div>
    <GenericList Items="Countries">
        <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <td>@Localizer["Country"]</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var country in Countries)
                    {
                        <tr>
                            <td>@country.Name</td>
                            <td>
                                <a class="btn btn-warning" href="/countries/edit/@country.Id">@Localizer["Edit"]</a>
                                <button class="btn btn-danger" @onclick=@(()=> DeleteAsync(country)) >@Localizer["Delete"]</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>






